/* *{
    border: 1px solid red; 
} */

html{
    height: 100%;
}

body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    position: absolute;
}

.cabeçalho{
    background:linear-gradient(#40916c, #1b4332);
    border-radius: 0px 0px 0px 80px;
    width: 100%;
    height: 550px;
}

#selecao-cabecalho{
    display: flex;
    width: 100%;
    height: 20%;
}

#fundo-cabecalho{
    width: 900px;
    height:900px;
    opacity: 20%;
    object-fit: cover;
    object-position:0px 200px;
    transform: translate(60%, -100%);
}

#selecao-esquerda{
    height: 100%;
    width: 5%;
}

#selecao-meio-esquerda{
    display: flex;
    align-items: center;
    height: 100%;
    width:40%;
}

#logo{
    margin-right: 10px;
    height: 70px;
    width: 80px;
}

.menu{
    width: 360px;
}

.menu-lista{
    width: 800px;
    display: flex;
    justify-content:end;
    width: 200px;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    width: 350px;
}

.menu-item {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size:15.7px;
}

#seta{
    width: 12px;
    padding-left: 4px;
}

.item-dropdown{
    cursor: pointer;
    list-style: none;
    margin-right: 0;
    padding: 0;
    font-size:15px;
    text-decoration: none;
    color: white;
}

.submenu{
    position: absolute;
    box-shadow: 0 0 2px #285a44;
    display: none;
}

.submenu a{
    display: block;
    font-weight: 100;
    margin: 10px;
    padding: 0px 40px 0px 40px;
    border-radius: 0;
}

#dropdown{
    width: 550px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size:15.7px;
}

.item-dropdown:hover .submenu{
    display: block;
    background-color: #1b4332;
    border-radius: 0px 0px 10px 10px;
}

.link-dropdown{
    font-size:16px;    
}

.link-dropdown:hover{
    opacity: 70%;
}

nav li a{
    text-decoration: none;
    color: white;
    
}

.menu-link{
    text-decoration: none;
    color: white;
}

.menu-link:hover{
    opacity: 70%;
}

#selecao-meio-meio{
    height: 100%;
    width: 20%;
}

#selecao-meio-direita{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width:40%;
}

#espacamento-login-direita{
    display: flex;
    justify-content: center;
    width: 100px;
}

#login-direita{
    list-style: none;
    color: black;
    background-color: white;    
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    border: solid 0px;
    font-weight: 500;
}

#menu-login{
    text-decoration: none;
    color: #272827;
    font-weight:600;
}

#login-direita:hover{
    letter-spacing: 1.5px;
    transition-duration: .28s;
    cursor: pointer;
}

#login-direita:visited{
    color:white;
}

#login-direita:active{
    font-weight: 400;
    
    color:white;
    background-color: rgba(0, 0, 0, 0.0);
    border: solid 1px;
}

#selecao-direita{
    height: 100%;
    width: 5%;
}

#baixo-cabecalho{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    gap:20px;
}

#titulo-cabecalho{
    font-size:50px;
    font-weight: 200;
}

#paragrafo-cabecalho{
    width:700px;
    text-align: center;
    font-size: 20px;
}

#botoes{
    display: flex;
}

#espacamento-botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

#botao-experimente{
    text-align: center;
    background-color: white;    
    border-radius: 40px;
    padding: 12.5px;
    padding-left: 20px;
    padding-right:20px;
    border: solid 0px;
    font-weight: 600;
    cursor: pointer;
    color: #294925;
}

#botao-experimente:hover{
    letter-spacing: 1.5px;
    transition-duration: .28s;
    font-weight: 600;
}

#botao-experimente:active{
    background-color: rgba(0, 0, 0, 0.0);
    border: solid 1px;
    color:white;
    padding: 12px 20px 12px 20px;
}

#link-btn-experimente{
    text-decoration: none;
    color:#294925;
}

#link-btn-experimente:active{
    color: white;
}

#botao-experimente:active #link-btn-experimente{
    color: white;
}

#botao-saibamais{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
    color: none;
    border: solid 1px;
    color:white;
    border-radius: 30px;
    padding: 12px 20px 12px 20px;
    font-weight: 600;
    cursor: pointer;   
}

#botao-saibamais:hover{
    font-weight: 600;
    letter-spacing: 1.5px;
    transition-duration: .28s;
    padding: 12px;
    padding-left: 20px;
    padding-right:20px;
}

#botao-saibamais:active{
    background-color: white;
    border: solid 0px;
    color: #294925;
    padding: 12px;
    padding-left: 20px;
    padding-right:20px;
}

#botao-saibamais:active #link-btn-saibaMais{
    color: #294925;
}

#link-btn-saibaMais{
    text-decoration: none;
    color:white;
}

#link-btn-saibaMais:active{
    color: #294925;
}