@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

/*Pagina de login*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

#voltar{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

#botão-voltar{
    padding:5px 15px 5px 15px;
    background-color: #40916c;
    border-radius: 15px;
    border: 0px solid;
}

#botão-voltar a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    border: 2px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background:linear-gradient(#40916c, #1b4332);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 0;
}

.titulo {

    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;

}

.titulo-bemVindo {
    color: #fff;
}

.titulo-Dois {
    color: #40916c;
}

.Descricao {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;

}


.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    margin-top: 1rem;
    border: none;
    margin-top: 1rem;

}

.btn-BemVindo {
    background-color: transparent;
    border: 1px solid #fff;

}

.btn-BemVindo:hover {
    background-color: #fff;
    color: #40916c;
    transition: background-color .5s;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 10px;
}


.Descricao-Primeira {
    color: #fff;
}

.Descricao-Segundo {
    color: #40916c;
}


.btn-Second {
    background-color: #40916c;
    border: 1px solid #40916c;
    transition: background-color .5s;
}

.from {
    display: flex;
    flex-direction: column;
    width: 55%;

}

.from input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;

}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.btn-Second:hover {
    background-color: #fff;
    border: 1px solid #588157;
    color: #588157;

}

.first-content {

    display: flex;
}

.first-content .second-colum {
    z-index: 11;
}

.first-colum {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-colum {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Lista-Social {
    margin: 1rem 0;
}


.link-social-media:not(:first-child) {
    margin-left: 10px;
}

.Lista-Social .Item-Social-Midia {
    transition: background-color .5s;
}

.link-social-media:hover .Item-Social-Midia {
    background-color: #40916c;
    color: #fff;
    border-color: #40916c;

}

.Lista-Social {
    display: flex;
    list-style-type: none;
}

.Item-Social-Midia {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;

}

/* segundo display*/
.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-colum {
    order: 2;
    z-index: -1;
}

.second-content .second-colum {
    order: 1;
    z-index: -1;
}

.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.password::first-letter {
    text-transform: capitalize;
}

.sign-in-js .first-content .first-colum .sign-in-js .first-content .second-colum {
    z-index: -1;
}


.sign-in-js .second-content .second-colum {
    z-index: 11;
}

.sign-in-js .second-content .first-colum {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 2s;

    z-index: 12;
}

.sign-up-js .content::before {
    animation: slideout 2s;

    z-index: 12;
}

.sign-up-js .second-content .first-colum,
.sign-up-js .second-content .second-colum {
    z-index: -1;
}

.sign-up-js .first-content .second-colum {
    z-index: 11;
}

.sign-up-js .first-content .first-colum {
    z-index: 13;
}

/*Deslocamento conteudo atrás do content:before*/

.sign-in-js .first-content .second-colum {

    z-index: -1;
    position: relative;
    animation: deslocamento 1.0s;
}

.sign-up-js .second-content .second-colum {

    z-index: -1;
    position: relative;
    animation: deslocamentoDir 1.0s;

}

/*Animação css para o conteudo*/

@keyframes deslocamento {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -50px;
        opacity: .5;
        z-index: 12;

    }

    50% {
        left: -100px;
        opacity: .2;
        z-index: 12;


    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;

    }

}

@keyframes deslocamentoDir {

    from {
        left: 0;
        z-index: 12;
    }

    25% {
        left: 80px;
    }

    50% {
        left: 100px;
    }

    to {
        left: 110px;
        z-index: -1;
    }

}

/*Animação CSS*/

@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }

    25% {
        left: 10%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 45%;
        width: 50%;
    }

    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {
    from {
        left: 60%;
        width: 40%;
    }

    25% {
        left: 45%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 10%;
        width: 50%;
    }

    to {
        left: 0%;
        width: 40%;
    }
}