/* *{
    border: 1px solid red;
} */

#container{
    display: flex; 
}

#plastico{
    background-color: #e49c9c;
}


#txtesquerda{
    width: 50%;
}

.tituloPlastico {
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

.imgPlastico {
    width: 50%;
    margin-top: 7px;
    padding: 10px;
    text-align: center;
}

.img2Plastico {
    width: 50%;
    margin-top: 7px;
    padding: 10px;
    text-align: center;
}

#paragrafoPlastico {
    margin-top: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; 
}

#paragrafoPlastico2 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; 
}



