.content{
    width: 100%;
    height: 100%;
}

section{
    display: flex;
    height: 100%;
    width: 100%;
}

#principal-cima{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.titulo-pagina{
    font-size: 38px;
}

#divisao-esquerda{
    width: 15%;
    height:70%;
}

#principal-esquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    width: 40%;
}

.subtitulo-pagina{
    width: 500px;
    font-size: 28px;
}

strong{
    color: #40916c;
}

.texto-pagina{
    width: 500px;
    margin:30px 0px 30px 0px;
    font-size:18px;
}

#principal-direita{
    display: flex;
    flex-direction: row-reverse;
    height: 70%;
    width: 50%;
}

.preview-desktop{
    width: 900px;
    height: 800px;
    object-fit: cover;
    object-position:100px 0px;
    transform: translate(0, -10%);
}

aside{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#sobrenos{
    background:linear-gradient(#40916c, #1b4332);
    border-radius:0px 80px 0px 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    height:550px;
}

#titulo-sobrenos{
    height: 45px;
    font-size: 40px;
    color: white;
}

#complementar{
    display: flex;
}

#complementar-esquerda{
    display: flex;
    justify-content: center;
    width: 50%;
}

#circle{
    width: 700px;
    object-fit: cover;
    transform: translate(-140px, -0%);
}

#mobile{
    position: absolute;
    width: 600px;
    height: 650px;
    transform: translate(0px, 8%);
}

#complementar-direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 50%;
    gap:40px;
}

#subtitulo-complementar{
    width:700px;
    font-size: 18px;
}

.divisão{
    width: 100%;
    height: 100px;
}