.content{
    width: 100%;
    height: 100%;
}

section{
    display: flex;
    height: 100%;
    width: 100%;
}

#principal-cima{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.titulo-pagina{
    font-size: 38px;
    margin: 50px;
}

#divisao-esquerda{
    width: 15%;
    height:70%;
}

#principal-esquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    width: 40%;
}

.alinhamento{
    margin-top: 50px;
    height: 180px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.subtitulo-pagina{
    width: 500px;
    font-size: 28px;
}

strong{
    color: #40916c;
}

.texto-pagina{
    width: 500px;
    margin:30px 0px 30px 0px;
    font-size:18px;
}

#principal-direita{
    display: flex;
    flex-direction: row-reverse;
    height: 70%;
    width: 50%;
}

.preview-desktop{
    width: 750px;
    height: 650px;
    object-fit: cover;
    object-position:150px 0px;
    transform: translate(0, -15%);
}

#empresas{
    display: flex;
    width: 100%;
    height: 600px;
}

#empresas-esquerda{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 57%;
    height: 100%;
}

#empresas-esquerda-direita{
    width: 10%;
}

#empresas-img{
    width: 600px;
    box-shadow: -1px 15px 30px rgb(163, 163, 163);
}

#empresas-direita{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 43%;
    height: 100%;
}

#empresas-direita-cima{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-start;
}

#titulo-empresas{
    width: 450px;
}

#empresas-direita-meio{
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.texto-empresas{
    width: 470px;
    font-size: 15px;
}

#texto-empresas-meio-baixo{
    width: 350px;
    font-size: 13px;
}

#espacamento-direita{
    width: 50px;
}

#marcador{
    margin-top: 15px;
    width: 3px;
    height: 25px;
}

#empresas-direita-meio-baixo{
    height: 13%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 25px;
    justify-content: flex-start;
}

#empresas-direita-baixo{
    display: flex;
    align-items: center;
    width: 100%;
    width: 100%;
    height: 11%;
}

#empresas-cadastro{
    font-size: 17px;
    text-decoration: none;
    color: #419974;
    font-weight: 600;
}

aside{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#novidades{
    background:linear-gradient(#40916c, #1b4332);
    border-radius:0px 80px 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:450px;
}

#complementar{
    display: flex;
    width: 100%;
    height: 100%;
}

#complementar-esquerda{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#circle{
    position: absolute;
    width:1000px;
    height: 450px; 
    object-position: -60px -420px;
    object-fit: cover;
}

#mobile{
    position: absolute;
    z-index: 9999;
    width: 600px;
    height: 650px;
    transform: translate(0px, -12%);
}

#complementar-direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 50%;
    gap:20px;
    height: 100%;
}

#titulo-complementar{
    color:white;
    font-size: 35px;
}

#subtitulo-complementar{
    width:570px;
    font-size: 17px;
    color: white;
}

#sobreNos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo-sobrenos{
    height: 45px;
    font-size: 40px;
    font-weight: bold;
}

.image-gallery{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    gap:20px;
    width: 95%;
    max-width: 950px;
    height: 300px;
}
    
.titulo{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}
  
.textoSobre{
    width: 1200px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
#nomeEquipe{
    font-size: 35px;
    margin: 40px;
}
  
.linkedinFonte{
    text-decoration: solid;
    color:  #0197fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.alteracaoLinkedin{
    text-decoration: solid;
    color:  #0197fc;
    display: flex;
    justify-content: center;
    align-items: center;
    object-position: 0px 0px;
    transform: translate(0%, 0%);
}
  
.card {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap:10px;
    height: 220px;
    padding: 22px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px grey;
}
  
.fonteNome{
    font-weight: bold;
    font-size: 18px;
}
  
.alteracaoNome{
    display: flex;
    justify-content: center;
}
  
.espaçamento-saibaMais{
    display: flex;
    flex-direction: column;
}

.tamanhoImagem{
    border-radius: 10px;
}

.divisão{
    width: 100%;
    height: 100px;
}

