/* Rodapé */

footer{
    background: rgb(31, 42, 38);
    border-radius: 0px 100px 0px 0px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-between;
    width:100%;
    height: 40%;
}

#rodape-esquerda{
    width:15%;
    height: 100%;
}

#rodape-meio-esquerda{
    width:15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

#logo-rodape{
    width:150px;
    height:135px;
}

#rodape-meio-meio{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    width:35%;
}

.titulo-rodape{
    width:300px;
    font-size: 16px;
    font-weight: bold;
}

.rodape{
    width: 300px;
    color: rgb(203, 201, 201);
    text-decoration: none;
    
}

#rodape-meio-direita{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width:35%;
}

#rodape-direita{
    width:20%;
    height: 100%;
}

#copyright{
    font-size: 14px;
    height: 20px;
    width: 200px;
}

#redes-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70px;
    gap:20px;
}

#linkedin{
    height: 20px;
}

#instagram{
    height: 20px;
}

#facebook{
    height: 25px;
}

#github{
    height: 20px;
}

