/* *{
    border: 1px solid red;
} */

html{
    height: 100%;
    width: 100%;
}

body{
  background-color: #CAD1DA;
}

.divisão{
    width: 100%;
    height: 60px;
}

.cabecalho-tipos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40916c;
    width: 100%;
    height: 120px;
}


#boas-vindas{
    color: #40916C;
    text-align: center;
    font-size:40px;
    font-weight: 500;
}

.titulo {
    text-align: center;
    font-size: 80px;
    font-weight:700;
    color: #40916C;    
}

#container{
    display: flex; 
    flex-direction: column;
}

.parte-cima{
    display: flex;
    justify-content: center;
    align-items: center;
}

#divImgReciclagem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 500px;   
}

.img-lixo{
    width: 450px;
}

#txtdireita{
    width: 60%;
}

#paragrafo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    text-align: left;
}

.titulo-tipos{
    font-size:25px;
    width: 700px; 
    color: #40916C;
}

.texto-tipos{
    width:660px;
}

.parte-baixo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 100%;
}

.lista {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-align: left;
}

.lista li{
    margin-top: 5px;
    margin-left: 50px;
    width: 200px
}

.titulo-exemplos{
    font-size: 30px;
    color: #40916C
}

.subtitulo-exemplos{
    color: #40916C;
    font-size: 20px;
    margin: 15px;
}

/* plastico */

.imgPlastico {
    width: 90%;
}

.img2Plastico {
    width: 50%;
    margin-top: 7px;
    padding: 10px;
    text-align: center;
}


/* metal */

.imagem-metais{
    width: 500px;
}

.img2Metal {

    margin-top: 7px;
    padding: 10px;
    text-align: center;
    height: 550px;
}


/* vidro */

.imgVidro {
    width: 90%;
}

.img2Vidro {
    width: 50%;
    margin-top: 7px;
    padding: 10px;
    text-align: center;
}


/* papel */

.imagem-papeis{
    width: 70%;
}

.img2Papel {
    width: 50%;
    margin-top: 7px;
    padding: 10px;
    text-align: center;
}


/* organico */

.imgOrganico {
    width: 70%;
}

.img2Organico {
    width: 50%;
    margin-top: 7px;
    padding: 10px;
    text-align: center;
}


/* eletronico */

.imagem-eletronicos{
    width: 650px;
}

.img2Eletronico {
    width: 50%;
    margin-top: 7px;
    padding: 10px;
    text-align: center;
}
