*{
    border: 1px solid red;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(226, 226, 226);
    font-family: 'Roboto', sans-serif;
}

/* #btnEditar{
    padding: 5px;
    background: rgb(13, 129, 66);
    border-radius: 5px;
    color: white;
    border: 0px solid;
}

#btnSalvar{
    padding: 5px;
    background: rgb(13, 129, 66);
    border-radius: 5px;
    color: white;
    border: 0px solid;
} */

#conominios{
    width: 400px;
    height: 100%;
    background: rgb(34, 39, 35);
}

#List{
    padding: 20px;
    width: 100%;
}

.Empresas{
    display: flex;
    height: 100px;
    width: 100%;
}

.Divs{
    height: 60px;
    padding: 0px 0px 10px 0px;
}

.btnExcluirEmpresa{
    margin-top: 50px;
}

input{
    margin:10px;
    border: 0px solid;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(29, 160, 88);

}

.container{
    height: 100%;
    display: flex;
}

.esquerda{
    background-color: rgb(63, 167, 110);
    width: 80%;
    height: 100%;
}

.esquerda-cima {
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
}

.esquerda-baixo{
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#titulo{
    height: 10%;
}

.direita-cima {
    display: flex;
    justify-content: center;    
    width: 80%;
    height: 20%;
}

.direita-baixo{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: white;
    width: 100%;
    height: 80%;
}

#direita-direita{
    width: 100%;
    height: 100%;
}

.Divs{
    margin: 5px;
}

.espacamento{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}